body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #242a38;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  text-align: center;
  color: #fff;
}

input {
  display: block;
  margin: 0 auto;
  padding: 8px;
  font-size: 16px;
  text-align: center;
}

p {
  font-size: 18px;
  color: #ffffff;
  margin: 10px auto;
  background-color: #4e596f;
}
