body {
  font-family: Arial, sans-serif;
  background-image: url(/img/task-bg.png);
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f8c8c8;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #000000;
}

.section {
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #000000;
}
