body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(/img/task-bg.png);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 300px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

li.completed {
  text-decoration: line-through;
  color: rgb(116, 110, 110);
}

button {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

button:hover {
  background-color: #4b0000;
}
